<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.digitalhouse.quiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/truck"
        android:label="@string/app_name"
        android:roundIcon="@drawable/truck"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CoresActivity"></activity>
        <activity android:name=".SelecaoCaminhaoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>